@import "tailwindcss";

:root {
  font-family: "Inter", system-ui, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  @theme {
    /* 색상 커스텀 영역 */
    --color-bl: rgb(23, 23, 27);
    --color-wh: rgb(250, 250, 250);
    --color-gr-50: rgb(244, 244, 244);
    --color-gr-100: rgb(233, 233, 234);
    --color-gr-200: rgb(211, 212, 212);
    --color-gr-300: rgb(188, 190, 191);
    --color-gr-400: rgb(166, 169, 170);
    --color-gr-500: rgb(144, 147, 148);
    --color-gr-600: rgb(122, 125, 127);
    --color-gr-700: rgb(100, 104, 106);
    --color-gr-800: rgb(77, 82, 85);
    --color-gr-900: rgb(55, 61, 63);
    --color-gr-950: rgb(33, 37, 38);
  }
}

@layer base {
  html {
    color: var(--color-wh);
  }

  a:focus-visible {
    @apply ring-wh/12 ring-2 outline-none;
  }
}

/* 커스텀 paragraph 글자 영역 */
.paragraph-text-l {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.paragraph-text-m {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.paragraph-text-s {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

/* 커스텀 Label 글자 영역 */
.label-text-l {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500; /* 기본 Medium */
  letter-spacing: -0.02em;
}

.label-text-l-semibold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600; /* SemiBold */
  letter-spacing: -0.02em;
}

.label-text-l-bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700; /* Bold */
  letter-spacing: -0.02em;
}

.label-text-m {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500; /* 기본 Medium */
  letter-spacing: -0.02em;
}

.label-text-m-semibold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600; /* SemiBold */
  letter-spacing: -0.02em;
}

.label-text-m-bold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700; /* Bold */
  letter-spacing: -0.02em;
}

.label-text-s {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500; /* 기본 Medium */
  letter-spacing: -0.02em;
}

.label-text-s-semibold {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600; /* SemiBold */
  letter-spacing: -0.02em;
}

.label-text-s-bold {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700; /* Bold */
  letter-spacing: -0.02em;
}

.label-text-xs {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500; /* 기본 Medium */
  letter-spacing: -0.02em;
}

.label-text-xs-semibold {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600; /* SemiBold */
  letter-spacing: -0.02em;
}

.label-text-xs-bold {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700; /* Bold */
  letter-spacing: -0.02em;
}

/* 커스텀 Heading 글자 영역 */
.heading-text-l {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-text-m {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-text-s {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-text-xs {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: -0.02em;
}
